In [8]:
import pandas as pd
data={
    "Student":["abhijith","rohith","vivek","abhinash"],
    "Subject1":[90,91,96,70],
    "Subject2":[73,94,58,49],
    "Subject3":[68,97,56,33]
}
columnsList=["Subject1","Subject2","Subject3"]
answer=pd.DataFrame(data,columns = ["Student","Subject1","Subject2","Subject3"])
answer["Total_marks"]=answer[columnsList].sum(axis=1)
columnList1=answer["Total_marks"].tolist()
fp=[]
grade=[]

for ind in answer.index:
     if((answer["Total_marks"][ind])<200):
            fp.append("F")
     else:
        fp.append("P")
     if((answer["Total_marks"][ind])>275):
        grade.append("O")
     elif((answer["Total_marks"][ind])>250):
        grade.append("A")
     elif((answer["Total_marks"][ind])>225):
        grade.append("B")
     elif((answer["Total_marks"][ind])>200):
        grade.append("C")
     elif((answer["Total_marks"][ind])<200):
        grade.append("RA")
    
answer["Grade"]=grade
answer["Pass/Fail"]=fp
answer.to_csv("assignment1.csv",index=True)

print(answer)

    Student  Subject1  Subject2  Subject3  Total_marks Grade Pass/Fail
0  abhijith        90        73        68          231     B         P
1    rohith        91        94        97          282     O         P
2     vivek        96        58        56          210     C         P
3  abhinash        70        49        33          152    RA         F

In [ ]:
import pandas as pd
data={
    "Student":["vijith","kranthi","balaji","ajay"],
    "Subject1":[93,94,95,69],
    "Subject2":[74,93,55,48],
    "Subject3":[63,93,51,39]
}
columnsList=["Subject1","Subject2","Subject3"]
answer=pd.DataFrame(data,columns = ["Student","Subject1","Subject2","Subject3"])
answer["Total_marks"]=answer[columnsList].sum(axis=1)
columnList1=answer["Total_marks"].tolist()
fp=[]
grade=[]

for ind in answer.index:
     if((answer["Total_marks"][ind])<200):
            fp.append("F")
     else:
        fp.append("P")
     if((answer["Total_marks"][ind])>275):
        grade.append("O")
     elif((answer["Total_marks"][ind])>250):
        grade.append("A")
     elif((answer["Total_marks"][ind])>225):
        grade.append("B")
     elif((answer["Total_marks"][ind])>200):
        grade.append("C")
     elif((answer["Total_marks"][ind])<200):
        grade.append("RA")
    
answer["Grade"]=grade
answer["Pass/Fail"]=fp
answer.to_csv("assignment1.csv",index=True)

print(answer)